@import '../../varibales';

.root {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background: $white;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.img {
  height: 100%;
  position: absolute;
  width: 66%;
  background: #07d6f2;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img.water {
  background: linear-gradient(270deg, #5bc7fa 0.15%, #35baff 100%);
}
.img.fire {
  background: linear-gradient(270deg, #b33327 0.15%, #d93e30 100%);
}
.img.blaze {
  background: linear-gradient(270deg, #f2cb07 0.15%, #f2b807 100%);
}
.img.grass {
  background: linear-gradient(270deg, #64d368 0.15%, #64d368 70.88%);
}
.img.bug {
  background: linear-gradient(270deg, #f89eae 0.15%, #f4b5c1 100%);
}

.img img {
  height: 120%;
}

.pokemonData {
  z-index: 2;
  width: 45%;
  padding-top: 0.5em;
  padding-left: 1em;
}

.pokemonData h4 {
  margin: 0 0 0.5em;
}

.stats {
  width: 89px;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 13px;
  margin-bottom: 0.5em;
}
.statCircle {
  width: 38px;
  height: 36px;
  border: 3px solid $dark;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: $dark;
  margin-bottom: 6px;
}
.statName {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #4b4b4b;
}

.types {
  display: flex;
  margin-bottom: 0.5em;
}

.type {
  margin-right: 13px;
  border-radius: 11px;
  box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
  color: $dark;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  padding: 0 10px;
}

.type.poison,
.type.water {
  background: #07d6f2;
}
.type.grass {
  background: #73d677;
}
.type.fire {
  background: #d93e30;
}
.type.bug {
  background: #f89eae;
}
.type.flying {
  background: #f2cb07;
}
