@import '../../varibales';

.root {
  min-height: 100vh;
  background: linear-gradient(180deg, $third 0%, $primary 100%);
}

.contentWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contentText {
  width: 50%;
  // position: absolute;
  // left: 10.9%;
  // right: 53.3%;
  // top: 21.58%;
  // bottom: 24.02%;
}

.contentParallax {
  overflow: hidden;
  position: absolute;
  width: 50%;
  height: 680px;
  right: 0;
  top: 93px;
}
