$third: #f5db13;
$primary: #f2b807;
$second: #f28f16;
$danger: #d93e30;
$white: #f2f2f2;
$dark: #212121;

$grey: #f6f7f9;

$redGradientCard: linear-gradient(270deg, #b33327 0.15%, #d93e30 100%);
$yellowGradient: linear-gradient(180deg, #f5db13 0%, #f2b807 100%);
$goldGradient: linear-gradient(
  269.46deg,
  #b57e10 -7.62%,
  #b57e10 13.9%,
  #f9df7b 28.5%,
  #fff3a6 45.42%,
  #f9df7b 62.17%,
  #b57e10 81.71%
);
$greenGradient: linear-gradient(270deg, #64d368 0.15%, #64d368 70.88%);
$redGradient: linear-gradient(270deg, #b33327 0.15%, #d93e30 100%);
$greyGradient: linear-gradient(180deg, #ffffff 30.32%, #f5f5f5 100%);
$pinkGradient: linear-gradient(270deg, #f89eae 0.15%, #f4b5c1 100%);
$blueGradient: linear-gradient(270deg, #5bc7fa 0.15%, #35baff 100%);
