.root {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
}

.layout {
  width: 78vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchFilter {
  width: 96%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}

.searchInput {
  width: 100%;
  height: 53px;
}

.pokemons {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto auto;
  column-gap: 1em;
  row-gap: 1.5em;
}
